body {
  background-color: black;
  font-family: arial;
  color: white;
}
h1 {
  color: grey;
  font-family: verdana;
}
.maindiv {
  background-color: white;
  color: black;
  width: 500px;
  padding: 20px;
  border-radius: 25px;
  text-align: center;
}
footer {
  text-align: start;
}

.innerdiv {
  display: flex;
  padding-bottom: 10px;
}
.width-50 {
  /* width: 50%;    */
  text-align: start;
}
.width-10 {
  width: 10%;
}
.width-25 {
  width: 25%;
  text-align: start;
}
.width-15 {
  width: 15%;
}

.result {
  text-align: start;
}
